@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #197961;
  --secondary-color: #1241dc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground) !important;
  font-family: Quicksand, Helvetica, sans-serif;
  background-color: var(--background);
}

.gradient {
  background-attachment: fixed;
  background-image: radial-gradient(
    farthest-side at 50vw 100vh,
    #1241dc 0,
    #197961 100%
  );
  background-size: 100vw 100vh;
}

#container {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.card {
  scroll-snap-align: start;
  scroll-snap-type: y mandatory;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 15px;
}

.normalCursor {
  cursor: default;
}

.specialCursor {
  cursor: url('/main/avatar_cursor.png'), auto;
}

.normalCursor .cursor-pointer {
  cursor: pointer;
}

.specialCursor .cursor-pointer, .specialCursor a {
  cursor: url('/main/avatar_wink_cursor.png'), auto;
}