@import "./globals.css";

#container {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
}

.card {
  scroll-snap-align: start;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 15px;
}

.normalCursor {
  cursor: default;
}

.specialCursor {
  cursor: url("/main/avatar_cursor.png"), auto;
}

.normalCursor .cursor-pointer {
  cursor: pointer;
}

.specialCursor .cursor-pointer,
.specialCursor a {
  cursor: url("/main/avatar_wink_cursor.png"), auto;
}
